snippet scrum
	${0:h2. `strftime("%A, %B %e, %Y")`}
	h3. `g:snips_author`
	
	h5. Review
	
	* ${1:What have you done since the last goals meeting?}
	
	h5. Goals
	
	* ${2:What are you planning to do by the next goals meeting?}
	
	h5. Obstacles
	
	* ${3:What problems are preventing you from accomplishing your goal?}
